# ==== Node.js ====
node_modules/
.env
npm-debug.log
package-lock.json

# ==== OS / Editor Files ====
.DS_Store
Thumbs.db

# ==== Docker & Fly.io (biar gak ikut ke Railway) ====
Dockerfile
fly.toml

# ==== VSCode Configs ====
.vscode/
